{% extends 'layout.html' %}
{% block body %}

<div class="container">
  <h1>Beginner Ideas</h1>
  <li>Idea 1</li>
  <li>Idea 1</li>
  <li>Idea 1</li>
  <!-- {% for i in begginer_reponse %}
  <li>{display reponses}</li>
  {% endfor %} -->
  <h1>intermidite Ideas</h1>
  <li>Idea 1</li>
  <li>Idea 1</li>
  <li>Idea 1</li>
  
  <!-- {% for i in intermidite_reponse %}
  <li>{display reponses}</li>
  {% endfor %} -->
  <h1>Expert Ideas</h1>  
  <li>Idea 1</li>
  <li>Idea 1</li>
  <li>Idea 1</li>
  
  <!-- {% for i in expert_reponse %}
  <li>{display reponses}</li>
  {% endfor %} -->
</div>
{% endblock %}